body {
  background-color: #bbb !important;
}

body div.invitation {
  text-align: center;
  background-repeat: no-repeat;
  background-size: 1024px auto;
  padding-top: 350px;
  padding-bottom: 100px;
  font-size: 14pt;
  height: 600px;
  box-shadow: 0px -100px 50px #bbb inset;
}

div.description { text-align: center; }
div.person { text-align: left; }

p.details {
  margin: auto;
  font-style: italic;
}

div.panel {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  background: rgba(255,255,255, 0.8);
}

h1 { font-size: 18pt !important; }
h2 { font-size: 14pt !important; margin-top: 2em !important; }
h3 { margin-top: 0px; }

div.response { display: inline-block; text-align: left; margin: 15px; margin-top: 0; float: left; }
div.response.right { float: right; }

div.rsvp { text-align: center; margin-bottom: 2em; }

div.invitation-part {
  border-bottom: 1px solid #aaa;
}


label span, label input { font-weight: normal; margin-right: 0.5em; }

label.checkbox-radio { display: block; }
label.checkbox-radio input { float: left; }
label.checkbox-radio span { display: block; margin-left: 1.5em; margin-right: 1.5em; font-weight: normal; }

label.textarea span { display: block; }
label.textarea textarea { font-weight: normal; width: 340px; }

input[disabled], textarea[disabled] {
  background-color: #ccc;
}

tr.initial {
  border-top: 30px solid #bbb;
}

td.question-response {
  padding: 0px 10px;
}

td.comments-review {
  padding: 10px;
}

.guestbook {
  margin-top: 50px;
}

.guestbook > tbody > tr > td {
  padding: 20px 0px;
  border-top: 1px solid #fff;
  vertical-align: top;
}

.guestbook a {
  display: inline-block;
  margin: 4px 20px;
  height: 32px;
}

.event-manager-controls {
  padding: 20px;
  display: flex;
}

.event-manager-controls > div {
  width: 200px;
  padding: 10px 30px;
}

.header-section div {
  padding: 20px;
}

.invitation-summary {
  display: flex;
  margin: 20px;
  margin-bottom: 0px; /* no margin to insert invitation button */
}

.invitation-summary div {
  padding: 20px;
  background: #ddd;
}

.invitation-summary.blank div {
  background: #ccc;
}

.invitation-summary div.outside {
  background: none;
  padding: 0;
}

.single-line-invitation {
  display: table-row;
}

.single-line-invitation div {
  display: table-cell;
  padding: 0px 20px;
}

.bulk-add-form {
  background: #eee;
  border: 1px solid #999;
  padding: 20px;
  margin-bottom: 30px;
}

.invitation-right-border {
  position: relative;
}

.delete-invitation-button {
  position: absolute;
  top: 2px;
  right: 2px;
}

.insert-invitation-button {
  color: #555;
  margin-left: 8px;
  background: none;
  border: none;
}

button[disabled] {
  color: #bbb;
  border: 1px solid #bbb;
}

td.person-name {
  min-width: 190px;
}

td.person-name input {
  width: 150px;
}

input.error {
  background: #fcc;
}

span.error-message {
  color: #822;
}

.user-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
  text-align: right;
}

.user-header span {
  display: inline-block;
  padding: 5px 20px;
}

.scrolling-body {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

.full-page-login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
