body div.invitation {
  text-align: center;
  background-color: #ccc !important;
  background: url('background.jpg');
  background-position: 30% 32%;
  background-repeat: no-repeat;
  padding-top: 350px;
  padding-bottom: 100px;
}

div.description { text-align: center; }
div.person { text-align: left; }

p.details {
  width: 60%;
  margin: auto;
  font-style: italic;
}

div.panel { max-width: 600px; margin-left: auto; margin-right: auto; background-color: rgba(255, 255, 255, 0.8) !important; }
h2 { font-size: 14pt !important; margin-top: 2em !important; }
h3 { margin-top: 0px; }

div.response { text-align: left; }
div.rsvp { text-align: center; margin-bottom: 2em; }

/* http://stackoverflow.com/a/14942294 */
/* Add some space between input and label, and ensure label stays inside a box */
label input { float: left; }
label span { display: block; margin-left: 1.5em; font-weight: normal; }
