body {
  background-color: #bbb !important;
  padding: 20px;
}

body div.invitation {
  text-align: center;
  background-repeat: no-repeat;
  background-size: 1024px auto;
  padding-top: 350px;
  padding-bottom: 100px;
  font-size: 14pt;
  height: 600px;
  box-shadow: 0px -100px 50px #bbb inset;
}

div.description { text-align: center; }
div.person { text-align: left; }

p.details {
  margin: auto;
  font-style: italic;
}

div.panel {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  background: rgba(255,255,255, 0.8);
}

h1 { font-size: 18pt !important; }
h2 { font-size: 14pt !important; margin-top: 2em !important; }
h3 { margin-top: 0px; }

div.response { display: inline-block; text-align: left; margin: 15px; margin-top: 0; float: left; }
div.response.right { float: right; }

div.rsvp { text-align: center; margin-bottom: 2em; }

div.invitation-part {
  border-bottom: 1px solid #aaa;
}


label span, label input { font-weight: normal; margin-right: 0.5em; }

label.checkbox-radio { display: block; }
label.checkbox-radio input { float: left; }
label.checkbox-radio span { display: block; margin-left: 1.5em; margin-right: 1.5em; font-weight: normal; }

label.textarea span { display: block; }
label.textarea textarea { font-weight: normal; width: 340px; }
